@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
*{
	margin:0;
	padding:0;
	font-family: "Poppins", sans-serif;
 	font-weight: 500;
 	font-style: normal;	
	box-sizing: border-box;
	color: white;
}

head,body{
	height:100%;
	width:100%;
}
.container{
	width:60%;
	border: 1px solid black;
	margin:auto;
	height: 100vh;
	//background-color: aqua;
	
}

.navbar{
	height:15%;
	//border:1px solid rgb(102, 97, 97);
	
}

.top{
	//text-align:center;
	border:1px solid blue;
	background-color:rgb(102, 97, 97);
	height:50%;
	width:100%;
	padding: 10px;
	padding-left: 35px;
	
}
.bottom{
	text-align:center;
	height: 50%;
	width: 100%;
	padding: 10px;
	margin-top: 2px;
	background-color: rgb(102, 97, 97);
}

.header
{
	background-color: rgb(102, 97, 97);
	padding: 20px;
	height: 25%;
	text-align: center;
	margin-top: 4px;
}

.bar{
	
	//padding: 30px;
	height: 45%;
	width: 100%;
	margin-top: 2px;
}
.left{
	//padding: 20px;
	float: left;
	background-color: rgb(102, 97, 97);
	width: 40%;
	height: 100%;
	text-align: center;
	
}

.right{
	//padding: 20px;
	float: right;
	background-color: rgb(102, 97, 97);
	width: 57%;
	height: 100%;
	margin-left:1%;
	//margin-right:%;
	text-align: center;
	
}


.footer{
	background-color: rgb(102, 97, 97);
	padding: 20px;
	height: 15%;
	text-align: center;
	clear: both;
	margin-top: 2px;
}