* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.warapper {
    height: 100vh;
    width: 100vw;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    height: 75%;
    width: 35%;
    background-color: lightpink;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table,
tr,
td,
th {
    border: 1px solid black;
}

table {
    height: 65vh;
    width: 30vw;
    text-align: center;
    font-size: 1.3vw;
}

input{
    width: 250px;
    font-size: 1.2vw;
    padding: 10px;
    border: none;
    border-radius: 10px;
}


button{
    font-size: 1.3vw;
    padding:10px 20px;
    border-radius: 10px;
    border: none;
}


