*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    width: 100%;
    background-image: url(../Images/waterfall-forest-with-green-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header{
    width: 100%;
   background-color: rgba(0, 0, 0,.1);
   backdrop-filter: bluer(50px);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 10%;
   position: fixed;
   // top: 0;
   // left: 0;
}

.logo{
    font-size: 2em;
    font-weight:bolder;
}

.navbar{
    display: flex;
   // background-color: aquamarine;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;

}

.navbar ul li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

.submenu{
    display: none;
}