*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    height: 60%;
    display: flex;
    margin: auto;
}

.container img{
    height: 100%;
    width: 50%;
}

.container .form{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form h1{
    color:rgb(70, 70, 74);
    text-align: center;
    margin: 10px 0px;
}

.form label{
    margin-top: 20px;
    
}

.form select{
    padding: .6vw;
    margin-top: 10px;
}
.form input{
    height: 30px;
    margin-top: 10px;
    padding: 1vw;
}

.bt{
    padding:.5vw;
    
}

.bt button{
    padding: 1vw;
    border-radius: 10px;
    border: none;
    margin: 10px;
   font-size: 1vw;
   font-weight: 400;
}

