@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("Images/waterfall-forest-with-green-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
   /* background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    z-index: -1;

}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navBar a{
    font-size: 1.15rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width:992px) {
    .header{
        padding: 1.2rem 5%;
    }
}

@media (max-width:768px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }
    
    #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }
    .navBar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        height: 17.7rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    }

    .navBar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;

    }
}