@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,body{
    min-height: 100%;
    width: 100%;
}

.wrapper{
    min-height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100vh 75vh 150vh 55vh 170vh 100vh  105vh 200vh 100vh;

    grid-template-areas:
                        "hero1 hero1 "
                        "hero2 hero2"
                        "hero3 hero3"
                        "hero4 hero5"
                        "hero6 hero6"
                        "hero7 hero7"
                        "hero8 hero8"
                        "hero9 hero9"
                        "footer footer";


    gap: 20px;

}

.navbar{
    height: 80px;
    width: 100%;
    background-color: crimson ;
    grid-area: navbar;
    position:fixed;
    display: flex;
}


.navleft{
    background-color: aqua;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 60%;
    width: 60%;

}

.logo img{
    width: 100%;
    height: 100%;
}
.navmid{
    background-color: rgb(121, 132, 132);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navmid ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 15px;
}

.navmid ul li a{
    text-decoration: none;
    color: #a9a7a7;
    font-size: 1.3em;
}

.navmid ul li a:hover{
    color: #7048CE;
    
}

.navright{
    background-color: aqua;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navright div{
    margin-right: 3vw;
    font-size: large;
    font-weight: 700;
}

.number{
    color: #007BFF;
}

.track{
    color: #a9a7a7;
    font-weight: 200;
    font-size: x-large;
}


.hero1{
    background-color: rgb(215, 165, 100);
    grid-area: hero1;
    margin-top:80px ;
}

.hero2{
    background-color: lightcyan;
    grid-area: hero2;
}

.hero3{
    background-color: blueviolet;
    grid-area: hero3;
}

.hero4{
    background-color: blueviolet;
    grid-area: hero4;
}
.hero5{
    background-color: blueviolet;
    grid-area: hero5;
}

.hero6{
    background-color: blueviolet;
    grid-area: hero6;
}
.hero7{
    background-color: blueviolet;
    grid-area: hero7;
}
.hero8{
    background-color: blueviolet;
    grid-area: hero8;
}
.hero9{
    background-color: blueviolet;
    grid-area: hero9;
}
.hero10{
    background-color: blueviolet;
    grid-area: hero10;
}
.footer{
    background-color: blueviolet;
    grid-area: footer;
}






