@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
}

body nav{
    width: 100%;
    height: 90px;
    background-color: aqua;
    display: flex;

}

.left-nav{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav img{
    width: 25%;
    height: 50%;
}

.mid-nav{
    height: 100%;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mid-nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
}

.mid-nav a:hover{
    color: #207DFB;
}
.right-nav{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 15px 25px;
    border: none;
    color: #207DFB;
    font-weight: 700;
    font-size: .9rem;
    border-radius: 10px;
    border: 1px solid #207DFB;
    background: transparent;
}


.hero{
    height: 65vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
}

.left-hero{
    height: 100%;
    width: 55%;
    background-color: blueviolet;
    display: flex;
    align-items:start;
    justify-content: end;
}

.hero-inner{
    height: 100%;
    width: 80%;
    background-color: #E9EAFC;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3vw;
}

.hero-inner .refund{
    background-color: white;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 1.2rem;
}

.hero-inner h1{
    background-color: red;
    font-size: 3vw;
    font-weight: 500;
}

.container-hero{
    
    
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

.card-hero{
    background-color: white;
    padding: 1.5vw 2.5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-hero button{
    width: 100%;
    
}
.right-hero{
    height: 100%;
    width: 45%;
    background-color: beige;
    display: flex;
    justify-content: center;
   
}

.right-hero img{

}


