@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-Container{
    min-width:fit-content;
    min-height: fit-content;
    padding: 2vw;
    border: 1px solid black;
    background-color: lightpink;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius:10px ;
}

.form-Container h2{
    margin:0 1vw;
    font-size: 1.6rem;
}

.form-Container .name-conatiner{
    padding: .5vw;
    margin: 10px;
}

.form-Container .name-conatiner input{
    width: 100%;
    padding: 10px;
    font-size: 400;
    font-weight: 400;
    border-radius: 10px;
    border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 2px solid #88b694; /* sage green */
  outline: none;
}

.form-Container .btn-conatiner{
    padding: .5vw;
    margin: 10px;
}

.form-Container .btn-conatiner button{
    padding: .8rem;
    border-radius: 10px;
    border: none;
    background-color: #88b694;
    width: 100%;

}





