@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html,body{
    min-height: 100vh;
    width: 100vw;

}

body nav{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: aquamarine;
}

.left-nav{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.left-nav img{
    height: 80%;
}

.left-nav ul{
    height: 100%;
    width: 90%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.right-nav{
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.right-nav input{
    width: 40%;
    padding: .6vw;
    font-size: .9rem;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.btn-nav{
    padding: 1vw;
    border-radius: 10px;
    border: none;
    background: transparent;
    font-size: 1rem;
}
