*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e0dede;
}

.wrapper{
    min-height: 100vh;
    width: 80vw;
   background-color: white;
    margin: auto;
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: #a79f9f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    min-height: 350px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    display: grid;
    grid-template-columns:  250px 250px 250px 250px;
    gap: 10px;
    justify-content: space-between;
    
}

.card{
    background-color: #a79f9f;
}

.container{
    height: 400px;
    width: 100%;
    margin-top: 10px;
   background-color: white;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;

}

.cardleft{
    //width: 30%;
    height: 100%;
    background-color: #a79f9f;
}

.cardmid{
    height: 100%;
    background-color: #a79f9f;
}
.cardright{
   // width: 70%;
    height: 100%;
    background-color: #a79f9f;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #a79f9f;
    margin-top: 10px;
}

@media (min-width: 320px ) and (max-width: 426px) {
    .wrappper {
        background-color: blue;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    .wrappper {
        background-color: green;
    }
}