*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-color: red;
    min-height: 200%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

.navBar{
    height: 90px;
    width: 100%;
    background-color: rgb(168, 191, 210);
    position: fixed;
    top: 0;
}

.hero {
    height: 500px;
    width: 50%;
    background-color: yellow;
    margin-top: 90px; /* pushes content below the fixed navbar */
}

.btn{
    height: 20px;
    width: 100px;
    background-color: green;
    position: sticky;
    top: 100px;
    left: 0;
}


